.main-container {
  display: flex;
  flex-direction: column;
  font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
  color: #FFFFFF;
  /* background: linear-gradient(to bottom, #008FB4, #FFFFFF); */
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  background-color: #008FB4;
  /* background-image: url("../img/banner.jpg"); */
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  
  -webkit-text-fill-color: #FFFFFF;
  -webkit-box-shadow: 0 0 0px 1000px #008FB4 inset;
  box-shadow: 0 0 0px 1000px #008FB4 inset;
}

.title {
  font-size: 24px;
  display: flex;
  width: 100%;
}

.main-title {
  font-size: 28px;
  font-family: 'Amita';
  margin: 0px;
}

.label {
  font-weight: bold;
}

.iframe {
  max-width: 560px;
  max-height: 315px;
}
.footer {
  margin-top: 50px;
}

input {
  border: none;
  border-bottom: 1px solid #FFFFFF;
  color: #FFFFFF;
  background-color: #008FB4;
  margin: 5px 0px 5px 40px;
  height: 50px;
  width: 80%;
  font-size: 24px;
}

input:focus {
  outline:0px;
}

.box-container {
  display: flex;
  flex-direction: column;
  margin-top: 3%;
  border-radius: 15px;
  margin: 3% 20%;
}

.box-header {
  display: flex;
  flex-direction: column;
  background-color: #008FB4;
  border-radius: 15px 15px 0px 0px;
  color: #FFFFFF;
  padding: 5px 5px 15px 20px;
}

.extra-header {
  font-style: italic;
  font-size: 12px;
  margin-bottom: 20px;
  display: flex;
  margin: 10px;
  height: 100%;
}

.box-content {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  background-color: #008FB4;
  border-radius: 0px 0px 15px 15px;
  width: 100%;
  height: 100%;
}

.btn-next {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40px;
  width: 140px;
  border: 1px solid #ED662D;
  background-color: #ED662D;
  border-radius: 5px;
  color: #ffffff;
  margin: 20px;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
}

.btn-next:hover {
  border: 1px solid #FFFFFF;
  cursor: pointer;
}

.hide {
  display: none;
}

.answers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tools {
  display: flex;
  flex-direction: row;
  padding: 10px 20px;
  justify-content: flex-start;
  align-items: center;
}

.tools > p {
  color: #ffffff;
  padding-left: 20px;
  font-size: 20px;
}

i {
  color: #FFFFFF;
}

a:hover > i {
  color: #ED662D;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #DAE6D6;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #DAE6D6;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #DAE6D6;
}

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  .main-container {
    padding: 3% 2% !important;
    text-align: center;
  }

  .form-group input {
      width: 50% !important;
  }

  .form-group input {
    width: 50% !important;
  }
}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  .main-title {
    font-size: 19px;
    padding: 0px 25%;
  }
 /* TODO*/
}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .main-title {
    font-size: 19px;
    padding: 0px 25%;
  }
  /*TODO*/
}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .title {
    font-size: 17px;
  }

  .main-title {
    font-size: 19px;
    padding: 0px 25%;
  }

  input {
    font-size: 19px;
  }

  .btn-next {
    font-size: 14px;
  }

  .form-group input {
    width: 80% !important;
  }

  .extra-header {
    font-size: 12px;
  }

  .tools > p {
    font-size: 19px;
  }
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .form-group input {
    width: 80% !important;
  }

  .title {
    font-size: 15px;
    display: flex;
    width: 100%;
  }

  .box-container {
    margin: 0px 20px;
    border-radius: 15px;
  }
  .main-title {
    font-size: 19px;
    padding: 0px 20%;
  }

  .btn-next {

    margin: 20px;
    font-size: 15px;
    
    text-align: center;
  }
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .main-container {
    padding: 40% 0;
  }

  .box-container {
    margin: 0px 20px;
    border-radius: 15px;
  }

  .title {
    font-size: 12px;
    display: flex;
    width: 100%;
  }

  .main-title {
    font-size: 15px;
    padding: 0px 15%;
  }

  input {
    margin: 2px 0px 2px 20px;
    height: 20px;
    font-size: 15px;
  }

  .btn-next {
    height: 20px;
    width: 90px;
    margin: 5px;
    font-size: 10px;
  }

  .form-group input {
    width: 80% !important;
  }

  .extra-header {
    font-size: 8px;
    margin-bottom: 9px;
  }

  .tools > p {
    color: #ffffff;
    padding-left: 10px;
    font-size: 15px;
  }
}